<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>
<div id="page">
    <app-header-menu></app-header-menu>
    <div class="page-title-clear"></div>
    <app-sidebar-menu></app-sidebar-menu>
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html"
        data-menu-height="480"></div>
    <div class="page-content">
        <div class="splide double-slider visible-slider slider-no-dots" id="double-slider-1"></div>
        <div class="card card-style" data-card-height="350" style="height: 350px;"
            style="background-image:url(assets/images/background/bg1.png)">
            <div class="card-center text-center">
                <h1 class="color-white font-32">Company</h1>
                <p class="color-white boxed-text-l opacity-80 mb-0">
                    Include company's information and celebbrites working there.
                </p>
            </div>
            <div class="card-bottom mb-3"></div>
            <div class="card-overlay bg-black opacity-50"></div>
        </div>
        <!-- </div> -->
        <!-- <div class="card card-full-left card-style"> -->
        <div class="row mb-0">
            <div class="col-6 pe-0">
                <div class="card card-style">
                    <img src="assets/images/pictures/6.jpg" class="img-fluid">
                    <div class="content pb-0">
                        <p class="mb-n1 color-highlight font-600">Column</p>
                        <h1>1 of 2</h1>
                        <p>This is a full width content. It only has 1 column per row. All contents are styled like
                            this by default</p>
                        <a href="index-components.html"
                            class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                    </div>
                </div>
                <div class="card card-style">
                    <img src="assets/images/pictures/6.jpg" class="img-fluid">
                    <div class="content pb-0">
                        <p class="mb-n1 color-highlight font-600">Column</p>
                        <h1>2 of 2</h1>
                        <p>This is a full width content. It only has 1 column per row. All contents are styled like
                            this by default</p>
                        <a href="index-components.html"
                            class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-6 ps-0">
                <div class="card card-style">
                    <img src="assets/images/pictures/6.jpg" class="img-fluid">
                    <div class="content pb-0">
                        <p class="mb-n1 color-highlight font-600">Column</p>
                        <h1>4 of 2</h1>
                        <p>This is a full width content. It only has 1 column per row. All contents are styled like
                            this by default</p>
                        <a href="index-components.html"
                            class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                    </div>
                </div>
                <div class="card card-style">
                    <img src="assets/images/pictures/6.jpg" class="img-fluid">
                    <div class="content pb-0">
                        <p class="mb-n1 color-highlight font-600">Column</p>
                        <h1>3 of 2</h1>
                        <p>This is a full width content. It only has 1 column per row. All contents are styled like
                            this by default</p>
                        <a href="index-components.html"
                            class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->

    </div>
</div>