<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>
<div id="page">
    <app-header-menu></app-header-menu>
    <div class="page-title-clear"></div>
    <app-sidebar-menu></app-sidebar-menu>
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html"
        data-menu-height="480"></div>
    <div class="page-content">
        <div class="splide double-slider visible-slider slider-no-dots" id="double-slider-1"></div>
        <div class="card card-style" data-card-height="350" style="height: 350px;"
            style="background-image:url(assets/images/background/bg1.png)">
            <div class="card-center text-center">
                <h1 class="color-white font-32">Company</h1>
                <p class="color-white boxed-text-l opacity-80 mb-0">
                    Include company's information and celebbrites working there.
                </p>
            </div>
            <div class="card-bottom mb-3"></div>
            <div class="card-overlay bg-black opacity-50"></div>
        </div>
        <!-- </div> -->
        <!-- <div class="card card-full-left card-style"> -->
        <div class="row mb-0">
            <div class="col-6 pe-0">
                <div class="card card-style">
                    <img src="assets/images/Company/1.jpg" class="img-fluid">
                    <div class="content pb-0">
                        <p class="mb-n1 color-highlight font-600">Column</p>
                        <h1>Vidgenx</h1>
                        <p>Participation benefits: Free use of copyrighted music with more than 3 million Soundtracks,
                            sponsored channel promotion, easy payment</p>
                        <a href="index-components.html"
                            class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                    </div>
                </div>
                <div class="card card-style">
                    <img src="assets/images/Company/2.jpg" class="img-fluid">
                    <div class="content pb-0">
                        <p class="mb-n1 color-highlight font-600">Column</p>
                        <h1>AdRev</h1>
                        <p>AdRev is a fairly popular YouTube-certified Network channel, which creates an opportunity to
                            earn money for members' music videos.</p>
                        <a href="index-components.html"
                            class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-6 ps-0">
                <div class="card card-style">
                    <img src="assets/images/Company/3.jpg" class="img-fluid">
                    <div class="content pb-0">
                        <p class="mb-n1 color-highlight font-600">Column</p>
                        <h1>Benefits</h1>
                        <p>Special support tool: DashGo (This tool is especially useful for those who want to put their
                            music in iTunes, Google Play ....)</p>
                        <a href="index-components.html"
                            class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                    </div>
                </div>
                <div class="card card-style">
                    <img src="assets/images/Company/4.jpg" class="img-fluid">
                    <div class="content pb-0">
                        <p class="mb-n1 color-highlight font-600">Column</p>
                        <h1>Freedom</h1>
                        <p>Special support tools: Heartbeat (Helps easily connect with other Youtubers), Videobar (Helps
                            prolong video viewing time)</p>
                        <a href="index-components.html"
                            class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->

    </div>
</div>