<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>
<div id="page">
    <app-header-menu></app-header-menu>
    <div class="page-title-clear"></div>
    <app-sidebar-menu></app-sidebar-menu>
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html"
        data-menu-height="480"></div>
    <div class="page-content">
        <div class="card card-style">
            <div class="d-flex content mb-1">
                <div class="flex-grow-1">
                    <h2>ZaHan<i class="fa fa-check-circle color-blue-dark font-18 mt-2 ms-3"></i></h2>
                    <p class="mb-2 mt-3 me-3">Location : Hanoi<br>Date of birth: 22/02/2002<br>Top 1 Tiktoker Hanoi.</p>
                    <p class="font-10">
                        <strong class="color-theme pe-1">1k</strong>Followers
                        <strong class="color-theme ps-3 pe-1">342</strong>Following
                    </p>
                </div>

                <img src="assets/images/Celeb/zahan.jpg" width="115" height="103" class="rounded-circle mt-3 shadow-xl">
            </div>

            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="#" class="btn btn-full btn-sm rounded-s font-600 font-13 bg-highlight">Follow</a>
                    </div>
                    <div class="col-6">
                        <a href="#"
                            class="btn btn-full btn-sm rounded-s font-600 font-13 color-highlight border-highlight">Message</a>
                    </div>
                </div>
            </div>
            <div class="divider mt-4 mb-0"></div>
            <div class="content mb-2">
                <div class="gallery-views gallery-view-1 mt-n4">
                    <a data-gallery="gallery-1" href="assets/images/Celeb/zahan1.jpg">
                        <img src="assets/images/Celeb/zahan1.jpg" data-src="images/pictures/10t.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Messy Desk?</h4>
                            <p>Some may consider this to be a very messy desk.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-gallery="gallery-1" href="assets/images/Celeb/zahan2.jpg">
                        <img src="assets/images/Celeb/zahan2.jpg" data-src="images/pictures/10t.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Messy Desk?</h4>
                            <p>Some may consider this to be a very messy desk.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="page" data-swup="0">
    <div class="header header-fixed header-logo-center header-auto-show header-active">
        <a href="index.html" class="header-title">Profile </a>
        <a href="#" data-back-button="" class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
        <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
        <a href="#" data-toggle-theme="" class="header-icon header-icon-3 show-on-theme-dark"><i
                class="fas fa-sun"></i></a>
        <a href="#" data-toggle-theme="" class="header-icon header-icon-3 show-on-theme-light"><i
                class="fas fa-moon"></i></a>
    </div>
    <div id="footer-bar" class="footer-bar-6">
        <a href="index-components.html"><i class="fa fa-layer-group"></i><span>Features</span></a>
        <a href="index-pages.html" class="active-nav"><i class="fa fa-file"></i><span>Pages</span><em></em></a>
        <a href="index.html" class="circle-nav"><i
                class="fa fa-home"></i><span>Welcome</span><strong><u></u></strong></a>
        <a href="index-projects.html"><i class="fa fa-camera"></i><span>Projects</span></a>
        <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menu</span></a>
    </div>
    <div class="page-title page-title-fixed" style="opacity: 0;">
        <h1>Profile</h1>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i
                class="fa fa-share-alt"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme=""><i
                class="fa fa-moon"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme=""><i
                class="fa fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i
                class="fa fa-bars"></i></a>
    </div>
    <div class="page-title-clear"></div>
    <div class="page-content">
        <div class="card card-style">
            <div class="d-flex content mb-1">

                <div class="flex-grow-1">
                    <h2>Jane Louder<i class="fa fa-check-circle color-blue-dark font-18 mt-2 ms-3"></i></h2>
                    <p class="mb-2 mt-3 me-3">
                        Jane Louder is a name used when you generate a text with an annonymous name.
                    </p>
                    <p class="font-10">
                        <strong class="color-theme pe-1">1k</strong>Followers
                        <strong class="color-theme ps-3 pe-1">342</strong>Following
                    </p>
                </div>

                <img src="images/pictures/6s.jpg" width="115" height="103" class="rounded-circle mt-3 shadow-xl">
            </div>

            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="#" class="btn btn-full btn-sm rounded-s font-600 font-13 bg-highlight">Follow</a>
                    </div>
                    <div class="col-6">
                        <a href="#"
                            class="btn btn-full btn-sm rounded-s font-600 font-13 color-highlight border-highlight">Message</a>
                    </div>
                </div>
            </div>
            <div class="divider mt-4 mb-0"></div>
            <div class="gallery-view-controls">
                <a href="#" class="color-highlight gallery-view-1"><i class="fa fa-th"></i></a>
                <a href="#" class="gallery-view-2"><i class="fa fa-th-large"></i></a>
                <a href="#" class="gallery-view-3"><i class="fa fa-bars"></i></a>
            </div>
            <div class="content mb-2">
                <div class="gallery-views gallery-view-1 mt-n4">
                    <a data-gallery="gallery-1" href="images/pictures/10t.jpg" title="Vynil and Typerwritter">
                        <img src="images/pictures/10t.jpg" data-src="images/pictures/10t.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Messy Desk?</h4>
                            <p>Some may consider this to be a very messy desk.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-gallery="gallery-1" href="assets/images/pictures/11t.jpg" title="Fruit Cookie Pie">
                        <img src="assets/images/pictures/11t.jpg" data-src="images/pictures/11t.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Designers Desk</h4>
                            <p>With all the gadgets you'd ever wish for.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-gallery="gallery-1" href="images/pictures/28t.jpg" title="Plain Cookies and Flour">
                        <img src="images/pictures/28t.jpg" data-src="images/pictures/28t.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Apple Watch</h4>
                            <p>The perfect and small notification device.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-gallery="gallery-1" href="images/pictures/18t.jpg" title="Pots and Stuff">
                        <img src="images/pictures/18t.jpg" data-src="images/pictures/18t.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">City Landscape</h4>
                            <p>It's absolutely gorgeous, we'd love to see it live.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-gallery="gallery-1" href="images/pictures/14t.jpg" title="Delicious Strawberries">
                        <img src="images/pictures/24t.jpg" data-src="images/pictures/24t.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Typography and iPhone 5</h4>
                            <p>A beautifully captured snap with great contrast.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-gallery="gallery-1" href="images/pictures/15t.jpg" title="A Beautiful Camera">
                        <img src="images/pictures/25t.jpg" data-src="images/pictures/25t.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Feather and Paper?</h4>
                            <p>Going back to days when things were simplere.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div data-menu-load="menu-footer.html">
            <div class="card card-style">
                <h4 class="font-28 text-center color-theme font-800 pt-3 mt-3">AppKit</h4>
                <p class="boxed-text-l mb-4">
                    Built to match the design trends and give your page the awesome facelift it deserves.
                </p>
                <div class="text-center mb-4">
                    <a href="#" class="icon icon-xs rounded-sm shadow-l mr-1 bg-facebook"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="#" class="icon icon-xs rounded-sm shadow-l mr-1 bg-twitter"><i
                            class="fab fa-twitter"></i></a>
                    <a href="#" class="icon icon-xs rounded-sm shadow-l mr-1 bg-phone"><i class="fa fa-phone"></i></a>
                    <a href="#" data-menu="menu-share" class="icon icon-xs rounded-sm mr-1 shadow-l bg-red-dark"><i
                            class="fa fa-share-alt"></i></a>
                    <a href="#" class="back-to-top icon icon-xs rounded-sm shadow-l bg-highlight color-white"><i
                            class="fa fa-arrow-up"></i></a>
                </div>
                <div class="divider mb-3"></div>
                <div class="row text-center mb-3 pl-3 pr-3">
                    <a class="font-11 col-4" href="#">Privacy Policy</a>
                    <a class="font-11 col-4" href="#">Terms of Service</a>
                    <a class="font-11 col-4" href="#">Contact Support</a>
                </div>
            </div>
        </div>
    </div>



    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html"
        data-menu-height="480" style="display: block; height: 480px;">
        <div class="menu-title">
            <p class="color-highlight font-600">Choose your Favorite</p>
            <h1>Highlight</h1>
            <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="divider divider-margins mt-3 mb-2"></div>
        <div class="content mt-0 ms-0 me-0">
            <div class="row mb-0">
                <div class="col-6">
                    <div class="list-group list-custom-small list-menu">
                        <a href="#" data-change-highlight="blue">
                            <i class="gradient-blue color-white"></i>
                            <span>Blue</span>
                        </a>
                        <a href="#" data-change-highlight="red">
                            <i class="gradient-red color-white"></i>
                            <span>Red</span>
                        </a>
                        <a href="#" data-change-highlight="orange">
                            <i class="gradient-orange color-white"></i>
                            <span>Orange</span>
                        </a>
                        <a href="#" data-change-highlight="green">
                            <i class="gradient-green color-white"></i>
                            <span>Green</span>
                        </a>
                        <a href="#" data-change-highlight="yellow">
                            <i class="gradient-yellow color-white"></i>
                            <span>Yellow</span>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="list-group list-custom-small list-menu">
                        <a href="#" data-change-highlight="dark">
                            <i class="gradient-dark color-white"></i>
                            <span>Dark</span>
                        </a>
                        <a href="#" data-change-highlight="gray">
                            <i class="gradient-gray color-white"></i>
                            <span>Gray</span>
                        </a>
                        <a href="#" data-change-highlight="teal">
                            <i class="gradient-teal color-white"></i>
                            <span>Teal</span>
                        </a>
                        <a href="#" data-change-highlight="magenta">
                            <i class="gradient-magenta color-white"></i>
                            <span>Plum</span>
                        </a>
                        <a href="#" data-change-highlight="brown">
                            <i class="gradient-brown color-white"></i>
                            <span>Brown</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider divider-margins mt-2"></div>
        <a href="#"
            class="close-menu btn btn-margins btn-m font-13 rounded-s shadow-xl btn-full gradient-highlight border-0 font-700 text-uppercase">Awesome</a>
    </div>
</div> -->