<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>
<div id="page">
    <app-header-menu></app-header-menu>
    <div class="page-title-clear"></div>
    <app-sidebar-menu></app-sidebar-menu>
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html"
        data-menu-height="480"></div>
    <div class="page-content">
        <div class="card card-style">
            <div class="d-flex content mb-1">
                <div class="flex-grow-1">
                    <h2>ZaHan<i class="fa fa-check-circle color-blue-dark font-18 mt-2 ms-3"></i></h2>
                    <p class="mb-2 mt-3 me-3">Location : Hanoi<br>Date of birth: 22/02/2002<br>Top 1 Tiktoker Hanoi.</p>
                    <p class="font-10">
                        <strong class="color-theme pe-1">1k</strong>Followers
                        <strong class="color-theme ps-3 pe-1">342</strong>Following
                    </p>
                </div>

                <img src="assets/images/Celeb/zahan.jpg" width="115" height="103" class="rounded-circle mt-3 shadow-xl">
            </div>

            <div class="content mb-0">
                <div class="row mb-0">
                    <div class="col-6">
                        <a href="#" class="btn btn-full btn-sm rounded-s font-600 font-13 bg-highlight">Follow</a>
                    </div>
                    <div class="col-6">
                        <a href="#"
                            class="btn btn-full btn-sm rounded-s font-600 font-13 color-highlight border-highlight">Message</a>
                    </div>
                </div>
            </div>
            <div class="divider mt-4 mb-0"></div>
            <div class="content mb-2">
                <div class="gallery-views gallery-view-1 mt-n4">
                    <!-- <a class="example-image-link" href="assets/images/Celeb/zahan1.jpg" data-lightbox="example-set"
                        data-title="Click the right half of the image to move forward.">
                        <img class="example-image" src="assets/images/Celeb/zahan1.jpg" alt="">
                    </a> -->

                    <a data-lightbox="example-set" href="assets/images/Celeb/zahan2.jpg" data-title="Xin chào ngày mới">
                        <img src="assets/images/Celeb/zahan2.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Messy Desk?</h4>
                            <p>Some may consider this to be a very messy desk.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                    <a data-lightbox="example-set" href="assets/images/Celeb/zahan1.jpg"
                        data-title="Xin chào ngày mới 2">
                        <img src="assets/images/Celeb/zahan1.jpg"
                            class="rounded-m preload-img shadow-xl img-fluid entered loaded" alt="img"
                            data-ll-status="loaded">
                        <div class="caption">
                            <h4 class="bottom-0 color-theme">Messy Desk?</h4>
                            <p>Some may consider this to be a very messy desk.</p>
                            <div class="divider bottom-0"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>