<div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
</div>
<div id="page">
    <app-header-menu></app-header-menu>
    <div class="page-title-clear"></div>
    <app-sidebar-menu></app-sidebar-menu>
    <div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370">
    </div>
    <div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html"
        data-menu-height="480"></div>
    <div class="page-content">
        <div class="splide double-slider visible-slider slider-no-dots" id="double-slider-1"></div>
        <div class="card card-style" data-card-height="350" style="height: 350px;"
            style="background-image:url(assets/images/background/bg2.jpg)">
            <div class="card-center text-center">
                <h1 class="color-white font-32">Celebbrites</h1>
                <p class="color-white boxed-text-l opacity-80 mb-0">
                    Including beautiful and talented celebbrites.
                </p>
            </div>
            <div class="card-bottom mb-3"></div>
            <div class="card-overlay bg-black opacity-50"></div>
        </div>
        <!-- </div> -->
        <!-- <div class="card card-full-left card-style"> -->
        <div class="row mb-0">
            <div class="row me-0 ms-0">
                <div class="input-style has-borders has-icon validate-field mb-4">
                    <i class="fas fa-search"></i>
                    <input type="name" class="form-control validate-name" id="form1" placeholder="Seach">
                    <label for="form1" class="color-highlight">Seach</label>
                    <em>(required)</em>
                </div>
            </div>
            <div class="row me-0 ms-0">
                <div class="col-4">
                    <img src="assets/images/Celeb/zahan.jpg" class="img-fluid rounded-sm mb-3">
                    <!-- <p class="mb-n1 color-highlight font-600">Column</p> -->
                    <h2>ZaHan</h2>
                    <p>Location : Hanoi<br>Date of birth: 22/02/2002<br>Top 1 Tiktoker Hanoi.</p>
                    <a href="index-components.html"
                        class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                </div>
                <div class="col-4">
                    <img src="assets/images/Celeb/alee.png" class="img-fluid rounded-sm mb-3">
                    <!-- <p class="mb-n1 color-highlight font-600">Column</p> -->
                    <h2>Quynh Alee</h2>
                    <p>Location : Hanoi<br>Date of birth: 18/06/1999<br>Streammer Youtube.</p>
                    <a href="index-components.html"
                        class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                </div>
                <div class="col-4">
                    <img src="assets/images/Celeb/gamkami.jpg" class="img-fluid rounded-sm mb-3">
                    <!-- <p class="mb-n1 color-highlight font-600">Column</p> -->
                    <h2>Gam Kami</h2>
                    <p>Location : Ho Chi Minh<br>Date of birth: 18/06/1999<br>Tiktoker</p>
                    <a href="index-components.html"
                        class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                </div>
            </div>
            <div class="row me-0 ms-0">
                <div class="col-4">
                    <img src="assets/images/Celeb/khanhhuyen.jpg" class="img-fluid rounded-sm mb-3">
                    <!-- <p class="mb-n1 color-highlight font-600">Column</p> -->
                    <h1>Khanh Huyen</h1>
                    <p>Location : Ho Chi Minh<br>Date of birth: 18/06/1999<br>Tiktoker</p>
                    <a href="index-components.html"
                        class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                </div>
                <div class="col-4">
                    <img src="assets/images/Celeb/lnd.jpg" class="img-fluid rounded-sm mb-3">
                    <!-- <p class="mb-n1 color-highlight font-600">Column</p> -->
                    <h1>Linh Ngoc Dam</h1>
                    <p>Location : Ho Chi Minh<br>Date of birth: 18/06/1999<br>Tiktoker</p>
                    <a href="index-components.html"
                        class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                </div>
                <div class="col-4">
                    <img src="assets/images/Celeb/misthy.jpg" class="img-fluid rounded-sm mb-3">
                    <!-- <p class="mb-n1 color-highlight font-600">Column</p> -->
                    <h1>Misthy</h1>
                    <p>Location : Ho Chi Minh<br>Date of birth: 18/06/1999<br>Tiktoker</p>
                    <a href="index-components.html"
                        class="btn btn-sm rounded-s font-13 font-600 gradient-highlight">View More</a>
                </div>
            </div>
        </div>
        <!-- </div> -->

    </div>
</div>