<div class="header header-auto-show header-fixed header-logo-center">
        <a href="index.html" class="header-title">#Sparta</a>
        <button data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></button>
        <button data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i
                        class="fas fa-sun"></i></button>
        <button data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i
                        class="fas fa-moon"></i></button>
        <a href="#" data-menu="menu-share" class="header-icon header-icon-3"><i class="fas fa-share-alt"></i></a>
</div>
<div id="footer-bar" class="footer-bar-6">
        <a [routerLink]="['/trainning']"><i class="fa fa-layer-group"></i><span>Trainning</span></a>
        <a [routerLink]="['/company']"><i class="fas fa-building"></i><span>Company</span></a>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="circle-nav active-nav"><i
                        class="fa fa-home"></i><span>Home</span></a>
        <a><i class="fas fa-video"></i><span>Viral Videos</span></a>
        <a [routerLink]="['/celebrities-list']"><i class="fas fa-users"></i><span>Celebbrites</span></a>
</div>
<div class="page-title page-title-fixed">
        <h1>#Sparta</h1>
        <button class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i
                        class="fa fa-share-alt"></i></button>
        <button class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i
                        class="fa fa-moon"></i></button>
        <button class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i
                        class="fa fa-lightbulb color-yellow-dark"></i></button>
        <button class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i
                        class="fa fa-bars"></i></button>
</div>